.collect-soldier-tab {

  .collect-soldier-game {
    width: 90%;
    height: 70vw;
    background-image: url("../assets/game/game-bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;

    margin: 0 auto;
    position: relative;

    .playingGif {
      width: 85%;
      position: absolute;
      top: 7vw;
      left: 6vw;
    }

    .reward-icon{
      width: 8vw;
      position: absolute;
      right: 4vw;
      top: 2vw;
    }
  }
  .chances {
    width: 100%;
    height: 26vw;
    background-image: url("../assets/Chance-back-bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;

    .shoot-btn {
      background-image: url("../assets/shoot-btn.png");
      width: 20vw;
      height: 15vw;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      display: block;
      margin: 0 auto;
      position: absolute;
      top: -9vw;
      left: 0;
      right: 0;
    }
    .my-chances {
      width: 40vw;
      height: 16vw;
      background-image: url("../assets/Chance-bg.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      position: absolute;
      top: 5vw;
      display: flex;
      justify-content: center;
      align-items: center;

  
    }
    .enter-chances {
      width: 40vw;
      height: 16vw;
      background-image: url("../assets/Chance-bg.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      position: absolute;
      top: 5vw;
      right: 6vw;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .warning-text{
      font-size: 2vw;
      position: absolute;
      top: 15vw;
      border: 1px solid;
      width: 26vw;
      right: -46vw;
     }

     .shaking-text {
      font-weight: bold;
      animation: shake 0.3s ease-in-out;
      background-color: red;
      color: black;
      text-align: center;
  }
    
    
    @keyframes shake {
      0% { transform: translateX(0); }
      25% { transform: translateX(-5px); }
      50% { transform: translateX(5px); }
      75% { transform: translateX(-5px); }
      100% { transform: translateX(5px); }
    }
  }

  .rewards {
    width: 95%;
    height: 202vw;
    background-image: url("../assets//rewards-bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
    position: relative;
    // overflow-y: auto;
    // top: 8vw;
    margin-top: 4vw;

    .title {
      width: 31vw;
      margin: 0 auto;
      position: absolute;
      left: 0;
      right: 0;
      top: -8vw;
    }

    .top1 {
    }
    .restWinners {
      margin-top: 16vw;
      height: 132vw;
      // overflow-y: hidden;
      // border: 2px solid green;
    }

    .see-more {
      background-image: url("../assets/more-btn.png");
      width: 15vw;
      height: 8vw;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      margin: 0 auto;
      display: block;
      // position: relative;
      // bottom: 7vw;
    }
    .see-less {
      background-image: url("../assets/less-btn.png");
      width: 15vw;
      height: 8vw;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      margin: 0 auto;
      display: block;
      // position: relative;
      // bottom: 7vw;
    }
  }

  #extraContent {
    height: 0px;
    width: 0px;
    position: absolute;
    z-index: -2147483648;
    content: url("../assets/game/forever.gif")
      url("../assets/game/left-terrist-shoot.gif")
      url("../assets/game/right-terrist-shoot.gif")
      url("../assets/game/right-plane-shoot.gif")
      url("../assets/game/tank-shoot.gif");
    visibility: hidden;
    top: 0px;
  }

  .marquee {
    .marquee-item {
      display: flex;
      // border: 1px solid;
      padding: 0.5vw;
      font-size: 2vw;
      border-radius: 5vw;
      margin-right: 4vw;
      // background-color: brown;
      font-size: 2.5vw;
      // font-family: 'Acme-Regular';
      color: white;
      margin-top: 2vw;
      background-image: url('../assets/tickertape.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      padding: 1vw;
     .bean-img{
      width: 3vw;
      display: inline-block;
      // border: 1px solid;
     }

      .user-img {
        width: 7vw;
        height: 7vw;
        border-radius: 100%;
      }

      .user-details {
        display: flex;
        align-items: center;

        .name {
         
          margin-left: 0.7vw;
        }
        .rew-img {
          width: 5vw;
          margin-left: 0.5vw;
          margin-right: 0.5vw;
        }
      }
    }
  }
}
