.tab-button{
    width: 29vw;
    height: 14vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.unactive{
    filter: grayscale(1);
}
.d-flex{
    display: flex;
}
.j-center{
    justify-content: center;
}
.al-center{
    align-items: center;

}
.f-column{
    flex-direction: column;
}
button{
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none !important;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
