.leaderboard-slider{
    width: 35vw;
    height: 12vw;
    display: flex;
    justify-content: center;
    align-items: center;

    .left-arrow{
     width: 3vw;
    }
    .right-arrow{
     width: 3vw;
    }
    .rew-section{
     width: 28vw;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
    }

    .slider-item{
        background-image: url('../assets/rewards-base.png');
        width: 8vw;
        height: 8vw;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}