.reward-item{
    .images{
        width: 20vw;
        height: 20vw;
        background-image: url('../assets//popup/multiple-rew-base.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 13vw;
        }

    }
    .rew-name{
        width: 20vw;
    font-size: 2vw;
    text-align: center;
    }
}